@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --color-olive: #606c38;
  --color-forest: #283618;
  --color-cream: #fefae0;
  --color-apricot: #dda15e;
  --color-orange: #bc6c25;

  --color-primary: var(--color-olive);
  --color-secondary: var(--color-forest);

  --spacing: 12px;

  --font-pretendard: 'Pretendard Variable', sans-serif;
}

@layer components {
  .typo-h1 {
    @apply font-pretendard font-bold text-2xl;
  }
}
